* {
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(205, 205, 205, 0.6);
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    position: relative;
}

#grid {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 20.8px;
    left: 50%;
    margin-left: -235px;
}

.box {
    width: 50px;
    height: 50px;
    padding: 0;
    position: absolute;
}

.top {
    width: 100%;
    height: 30%;
    background-color: gold;
}

.buttom {
    width: 100%;
    height: 70%;
    background-color: #3b3b3b;
}

.command {
    width: 500px;
    margin: 20px auto;
}

span {
    color: red;
    font-size: 30px;
}